$color_1: rgba(0, 0, 0, 0.75);

article {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	width: 941px;
	margin-bottom: 60px;
}
.text {
	padding: 0 42px 20px 19px;
	font-size: 20px;
	line-height: 28px;
	color: $color_1;
	word-break: break-word;
	overflow: hidden;
}