
$color_2: #F5222D;
$color_6: #1890FF;

.tags {
	div {
		display: flex;
		gap: 10px;
		margin-top: 6px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
.tags__list {
	display: flex;
	flex-direction: column;
}
.tag {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 600px;
	word-break: break-word;
	white-space: normal;
}
.add {
	background-color: #FFFFFF;
	color: $color_6;
	width: 136px;
	height: 40px;
	border: 1px solid #1890FF;
	border-radius: 4px;
}
.delete {
	background-color: #FFFFFF;
	color: $color_2;
	width: 136px;
	height: 40px;
	border: 1px solid #F5222D;
	border-radius: 4px;
}
