$color_1: #F5222D;
$color_2: #52C41A;

.group {
	display: flex;
	gap: 12px;
	position: absolute;
	right: 30px;
	top: 0px;
}
.delete {
	border: 1px solid #F5222D;
	border-radius: 5px;
	width: 65px;
	height: 31px;
	color: $color_1;
}
.edit {
	border: 1px solid #52C41A;
	border-radius: 5px;
	width: 65px;
	height: 31px;
	color: $color_2;
}
