$color_1: #262626;
$color_2: #F5222D;
$font-family_1: 'Roboto';
$color_3: #595959;
$color_4: #FFFFFF;
$color_5: #8C8C8C;
$color_6: #1890FF;

.container {
	margin-top: 33px;
	width: 384px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
	border-radius: 6px;
	padding: 48px 32px;
	margin-bottom: 20px;
	.link {
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: $color_5;
	}
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: $color_2;
	}
}

.lg {
	display: flex;
	flex-direction: column;
	gap: 21px; 
	width: 938px; 
	form { 
		display: flex;
		flex-direction: column;
		align-content: center;
		gap: 12px;
	}
}

.title {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: $color_1;
	margin-bottom: 21px;
}
.inputs {
	display: flex;
	flex-direction: column;
	gap: 12px;
	input {
		border: 1px solid #D9D9D9;
		border-radius: 4px;
		height: 24px;
		padding: 8px 12px;
	}
	textarea { 
		border: 1px solid #D9D9D9;
		border-radius: 4px;
		height: 24px;
		padding: 8px 12px;
		height: 168px;
		resize: none;
	}
	label {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	span {
		font-weight: 400;
		font-size: 14px;
	}
	.btn {
		color: $color_4;
		width: 319px;
		height: 40px;
		background: #1890FF;
		border: none;
		border-radius: 4px;
	}
	.danger {
		border-color: #F5222D;
	}
}

 .toggle {
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	opacity: 0;
	+ {
		label {
			background-image: url('../img/check-mark.svg');
			background-repeat: no-repeat;
            background-position: 5px 5px;
		}
	}
	&:checked {
		+ {
			label {
				background-image: url('../img/no-label.svg');
			}
		}
	}
}

.label {
	padding-left: 30px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: $color_3;
}

