header{
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    margin-left: 22px;
    font-size: 18px;
}
.btns{
    margin-right: 22px;
    display: flex;
    gap:19px;
}
.btn{
    line-height: 28px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
  
}


.active{
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
    padding: 6px 10px;
}