$color_1: #595959;

.label {
	padding-left: 30px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: $color_1;
}

.toggle {
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	opacity: 0;
	+ {
		label {
			background-image: url('../../img/check-mark.svg');
			background-repeat: no-repeat;
            background-position: 5px 5px;
		}
	}
	&:checked {
		+ {
			label {
				background-image: url('../../img/no-label.svg');
			}
		}
	}
}
